@import 'responsive';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');    
    body { 
      font-family: 'Open Sans', sans-serif; 
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      background-color: #e4e9ed;
    }
    .container { 
      width: 1006px; 
      overflow: auto; 
      background-color: #fff;
      padding-bottom: 3em;
    }
    .d-flex { display: flex; }
    .justify-content-around { justify-content: space-around; }
    .border-b { border-bottom: 1px solid #bdc2c8; }
    .nav-item { padding: 5px; }
    .nav-link { 
      text-transform: uppercase; 
      text-decoration: none; 
      color: #707070; 
      font-size: 16px; 
      font-weight: 600; 
    }
    .nav-link:hover {
      color: #92278f;
    }
    .fw-bold { font-weight: bold; }
    .text-white { color: #fff; }
    .rounded-pill { border-radius: 50rem; }
    .px-5 { padding-right: 3rem; padding-left: 3rem; }
    .py-5 { padding-top: 3rem; padding-bottom: 3rem; }
    .bg-grey { background-color: #e4e9ed; }
    .bg-purple { background-color: #92278f; }
    .text-purple { color: #92278f; }
    .text-darkpurple { color: #642343; }
    .text-grey { color: #707070; }
    .text-center { text-align: center; }
    .mb-0 { margin-bottom: 0 !important; }
    .mt-0 { margin-top: 0 !important; }
    .mt-3 { margin-top: 3em !important; }
    .text-link { text-decoration: underline; }
    .row { display: flex; justify-content: space-between; }
    .kapitel {
      width: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #707070;
      border: 1px solid #707070;
      text-align: center;
      font-size: 18px;
      margin: 0 5px;
      padding: 5px 0;
      font-weight: bold;
    }
    ul { 
      list-style-type: square; 
      list-style-image: url('./images/Bullet.png') 
    }
    .d-flex-column { display: flex; flex-direction: column; }
    .w-100 { width: 100%; }
    .youtube {
      z-index: 3;
      position: relative;
      top: 63px;      
      left: -4px;
      width: 490px;
      height: 314px;
    }
    .yt-container {
      margin: 1em 0 0 0; 
      display: flex; 
      justify-content: center; 
      height: 490px;
    }
    .free-opt {
      border: 1px solid #92278f;
      margin-right: 3em;
      border-radius: 1rem;
      line-height: 1;
      justify-content: center;
      height: 63px;
      width: 89px;
    }
   .bottom-banner {
      border-radius: 1.5rem; 
      height: 330px;
    }