@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.main-text {
  background-color: transparent !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.border-b {
  border-bottom: 1px solid #bdc2c8;
}

.fw-bold {
  font-weight: bold;
}

.text-white {
  color: #fff;
}

.rounded-pill {
  border-radius: 50rem;
}

.px-5 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-grey {
  background-color: #e4e9ed;
}

.bg-purple {
  background-color: #92278f;
}

.text-purple {
  color: #92278f !important;
}

.text-darkpurple {
  color: #642343 !important;
}

.text-grey {
  color: #707070;
}

.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-3 {
  margin-top: 1em !important;
}

.mb-3 {
  margin-bottom: 1em !important;
}

.text-link {
  text-decoration: underline;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.w-100 {
  width: 100%;
}

.h2 {
  padding: 0 1em;
}

@media (min-width: 760px) {
  .h2 {
    padding: 0 2em;
  }
}

.container {
  margin: 0 .5em;
}

@media (min-width: 760px) {
  .container {
    margin: 0 1em;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #e4e9ed;
}

.main-container {
  width: 1006px;
  overflow: auto;
  background-color: #fff;
  padding-bottom: 2em;
}

.nav-item {
  padding: 5px;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
  font-size: 10px;
  font-weight: 600;
}

@media (min-width: 350px) {
  .nav-link {
    font-size: 12px;
  }
}

@media (min-width: 700px) {
  .nav-link {
    font-size: 16px;
  }
}

.nav-link:hover {
  color: #92278f;
}

header .container {
  padding: 2em 1em;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1000px) {
  header .container {
    padding: 3em 4em;
  }
}

@media (min-width: 760px) {
  header .container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

header .container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  header .container > div {
    margin-left: 2em;
  }
}

header .container > div img {
  max-width: 100%;
}

header .rounded-pill {
  width: 100%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

header .rounded-pill span:first-child {
  font-size: 12px;
}

@media (min-width: 350px) {
  header .rounded-pill span:first-child {
    font-size: 15px;
  }
}

header .rounded-pill span:last-child {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 350px) {
  header .rounded-pill span:last-child {
    font-size: 24px;
  }
}

.compaign-logo {
  width: 100%;
  margin-bottom: 2em;
}

@media (min-width: 760px) {
  .compaign-logo {
    margin-bottom: 0;
  }
}

@media (min-width: 700px) {
  .compaign-logo {
    width: 360px;
  }
}

.main-title {
  margin: 0 auto;
  font-size: 45px;
}

@media (min-width: 400px) {
  .main-title {
    font-size: 70px;
  }
}

.gedolim {
  margin-top: 1em;
}

@media (min-width: 760px) {
  .gedolim {
    margin-bottom: 1em;
  }
}

.singers {
  position: relative;
}

.singers img {
  width: 100%;
  z-index: 2;
  position: relative;
}

@media (min-width: 760px) {
  .singers img {
    width: 95%;
  }
}

.singers .bg-grey {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 4px;
  display: none;
}

@media (min-width: 760px) {
  .singers .bg-grey {
    display: block;
    text-align: center;
  }
}

.yt-container {
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 700px) {
  .yt-container {
    margin-bottom: 0;
    height: 360px;
  }
}

@media (min-width: 1000px) {
  .yt-container {
    height: 490px;
  }
}

.yt-container img {
  display: none;
}

@media (min-width: 700px) {
  .yt-container img {
    display: block;
    width: 745px;
  }
}

@media (min-width: 1060px) {
  .yt-container img {
    width: 1000px;
  }
}

.youtube {
  width: 360px;
  height: 225px;
}

@media (min-width: 700px) {
  .youtube {
    z-index: 3;
    position: relative;
    top: 50px;
    left: -2px;
  }
}

@media (min-width: 1000px) {
  .youtube {
    top: 63px;
    left: -4px;
    width: 490px;
    height: 314px;
  }
}

.writing {
  padding: 1em 2em;
}

.writing h1 {
  font-size: 28px;
  white-space: nowrap;
}

.writing p {
  font-size: 16px;
}

@media (max-width: 360px) {
  .writing {
    padding: 1em;
  }
}

.writing > div {
  display: block;
}

@media (min-width: 900px) {
  .writing > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.writing ul {
  list-style-type: square;
  list-style-image: url("../images/compaigns/tubavtogether/Bullet.png");
}

.promo-images {
  text-align: center;
  margin-top: 2em;
}

@media (min-width: 900px) {
  .promo-images {
    margin-top: 0;
  }
}

.promo-images img {
  width: 270px;
}

@media (min-width: 350px) {
  .promo-images img {
    width: 300px;
  }
}

.global-times {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

@media (min-width: 760px) {
  .global-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.tehillim {
  padding: 1em 0;
  display: block;
}

@media (min-width: 800px) {
  .tehillim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tehillim > div:last-child {
  text-align: center;
}

@media (min-width: 800px) {
  .tehillim > div:last-child {
    border-left: 1px solid #bdc2c8;
    padding-left: 1em;
    margin-left: 1em;
    text-align: initial;
  }
}

.kapitlach {
  margin-bottom: 2em;
}

@media (min-width: 800px) {
  .kapitlach {
    margin-bottom: 0;
  }
}

.kapitlach .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  justify-items: center;
}

@media (min-width: 700px) {
  .kapitlach .row {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 800px) {
  .kapitlach .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.kapitlach .row:first-child {
  margin-bottom: 2em;
}

@media (min-width: 800px) {
  .kapitlach .row:first-child {
    margin-bottom: 1em;
  }
}

.kapitel {
  width: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #707070;
  text-align: center;
  font-size: 18px;
  padding: 5px 0;
  font-weight: bold;
}

.e32 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.e38 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.e70 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.e82 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media (min-width: 700px) {
  .e82 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.e121 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media (min-width: 700px) {
  .e121 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

.e124 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media (min-width: 700px) {
  .e124 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.e127 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

@media (min-width: 700px) {
  .e127 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

.h32 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

@media (min-width: 700px) {
  .h32 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.h38 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

@media (min-width: 700px) {
  .h38 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.h70 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

@media (min-width: 700px) {
  .h70 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.h82 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media (min-width: 700px) {
  .h82 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.h121 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media (min-width: 700px) {
  .h121 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.h124 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media (min-width: 700px) {
  .h124 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.bottom-banner {
  width: 100%;
  color: #fff;
  border-radius: 1.5rem;
}

@media (min-width: 700px) {
  .bottom-banner {
    height: 330px;
  }
}

.bottom-banner > div {
  padding: 1rem 2em;
}

.bottom-banner h1 {
  font-size: 25px;
}

@media (min-width: 700px) {
  .bottom-banner h1 {
    font-size: 30px;
  }
}

.bottom-banner p {
  font-size: 20px !important;
}

@media (min-width: 700px) {
  .bottom-banner p {
    font-size: 25px;
  }
}

.free-opt {
  padding: 0 5px;
  border: 1px solid #92278f;
  margin-right: 1.5em;
  border-radius: 1rem;
  line-height: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 63px;
}

@media (min-width: 700px) {
  .free-opt {
    width: 89px;
    margin-right: 3em;
  }
}
/*# sourceMappingURL=style.css.map */